@use "colors" as c;

//  Recorre y muestra el map en la Terminal
@each $key, $val in c.$colors {
    .text-#{$key} {
        color: $val;
    }

    .bg-#{$key} {
        background-color: $val;
    }
    //Genera variaciones de tonalidades si son colores diferente a blanco y negro

    @if ($val != white and $val != black) {
        //Generacion de variaciones claras
    @for $i from 1 through 9 {
        //@debug $key, $val, $i;
        .text-#{$key}-light-#{$i} {
            // color1, color2, porcentaje de mezcla
            color: mix(white, $val, 10% *$i);
        }
        .bg-#{$key}-light-#{$i} {
            // color1, color2, porcentaje de mezcla
            background-color: mix(white, $val, 10% *$i);
        }
    }
    //Generacion de oscuras 
    @for $i from 1 through 9 {
        //@debug $key, $val, $i;
        .text-#{$key}-dark-#{$i} {
            // color1, color2, porcentaje de mezcla
            color: mix(black, $val, 10% *$i);
        }
        .bg-#{$key}-dark-#{$i} {
            // color1, color2, porcentaje de mezcla
            background-color: mix(black, $val, 10% *$i);
        }
    }  

    } 
}

//Condicional If

// @if (5 > 1) {
//     .generada-por-if {
//         color: red
//     }
// }

$a: 5;
$b : 10;
@if ($b == 5) {
    .generada-segundo-if {
        color: cyan;
    }
}@else {
    @if ($b ==20) {
        .igual-20 {
            color: blue;
        }
    } @else {
        .diferente-10-20 {
            color: red;
        }
    }
}

//Condicional If / else If

$d: 40;
@if ($d == 10) {
    .d-10 {
        color: yellow;
    }
} @else if ($d == 20) {
    .d-20 {
        color: blue;
    }
} @else if ($d == 30) {
    .d-30 {
        color: red;
    }
} @else {
    .d-ninguna {
        color: green;
    }
}