//Definicion de mixin
@mixin alert($color: green, $corner: 5px) {
    $border: 1px solid $color;
    background-color: mix(white, $color, 50%) ;
    padding: 10px;
    border: $border;
    border-radius: $corner;
    margin: 10px;
    color: mix(black, $color, 50%) ;

    h3 {
        color: darken($color, 50%) ;
        border-bottom: $border;
        margin-bottom: 5px;
    }
    p {
        color: mix(white, $color, 10%) ;
    }
}
//Uso de mixin
.alert-success {
    @include alert(pink, 20px);
}
.alert-warning {
    color: blue;
    @include alert(cyan);
}

.alert-error {
    color: blue;
    @include alert(darkred);
}

.alert-info {
    color: blue;
    @include alert(yellow);
}