@use "../colors" as c;

.review {
    display: grid;
    grid-template: 1fr auto / 1fr;
    border: 2px solid magenta;

    &__header {
        background-color: map-get(c.$colors, "primary");
        &-title {
            color: map-get(c.$colors, "white");
            padding: 1rem;
        }
    }

    &__body {
        background-color: map-get(c.$colors, "white");
        padding: 1rem;
        p {
            color: map-get(c.$colors, "black");
        }
    }

    &__user {
        color: red;
        background-color: map-get(c.$colors , "info");
        padding: .5rem;
        margin-top: .6rem;
        cursor: pointer;
    }

    &__more {
        $color-fondo: map-get(c.$colors , "primary");
        background: rgb(156,128,207);
        background: linear-gradient(90deg, rgba(156,128,207,1) 0%, rgba(4,101,107,1) 50%);
        color: map-get(c.$colors, "white");
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 10px;

        &:hover {
            background: rgba(4,101,107,1);
            background: linear-gradient(90deg, rgba(4,101,107,1) 0%, rgba(156,128,207,1) 50%);

        }
    }
}

